<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card bg-dark text-white">
      <div class="card-header pt-5">
          <h1 class="text-center">Administrador</h1>
        <h4 class="text-center">
          Nuevo Usuario
        </h4>

        <form action="/usuarios/new-usuarios" method="POST">

      <div class="card-body">

          <div class="mb-3">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control bg-ligth " name="name" placeholder="Nombre" />
          </div>
          <div class="mb-3">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control bg-ligth" name="apellido" placeholder="Apellido" />
          </div>

          <div class="mb-3">
            <label for="usuario">Usuario:</label>
            <input type="text"  class="form-control bg-ligth" name="usuario"  placeholder="Usuario"  />
          </div>
          <div class="mb-3">
            <label for="password">Password:</label>
            <input type="password"  class="form-control bg-ligth" name="password" placeholder="Password"  />
          </div>
          <div class="mb-3">
            <label for="email">Email:</label> 
            <input  type="email"  class="form-control bg-ligth"  name="email"  placeholder="Email"   />
          </div>
          <div class="mb-3">
              <label for="tipo_usuario" class="form-label ">Tipo Usuario</label>
              <select id="tipo_usuario" name="tipo_usuario" class="form-select" >
                <option value="1" selected>Adminstrador</option>
                <option value="3">Farmacia</option>
              </select>
          </div>
       </div>
         <button class="btn btn-success btn-block">
            Registro
          </button>
        </form>

      </div>


    </div>
  </div>
</div>